name: Post e Update do Projeto

on:
    push:
        branches:
            - main
    workflow_dispatch:

env: 
    DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}        #pega os dados na secrets
    DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}        #pega os dados na secrets
    TAG: ${{github.sha}}                                #pega o numero sha para ser nossa tag mudando a cada push

jobs:
    atualiza-dockerhub:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: .
        steps:
            - name: Checkout do repositorio
              uses: actions/checkout@v3       #"clona" o repositorio
            - name: Login
              uses: docker/login-action@v3    #ação que chama o login do docker
              with:
                username: ${{ env.DOCKER_USERNAME }}   #nome de usuario
                password: ${{ env.DOCKER_PASSWORD }}   #senha
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3      #gera a imagem a partir do dokcerfile
            - name: Build e Push para DockerHub
              uses: docker/build-push-action@v6        #inicia o push
              with:
                push: true
                tags: ${{env.DOCKER_USERNAME}}/main-python:${{env.TAG}}       #padrão do repositorio do dockerhub nome de usuario, nome da imagem, tag
    atualiza-manifest:
        runs-on: ubuntu-latest
        needs: atualiza-dockerhub
        env:
          SSH_PRIVATE_KEY: ${{secrets.SSH_PRIVATE_KEY}}       #variavel criada dentro do job
        steps:
            - name: Configurar SSH Agent
              uses: webfactory/ssh-agent@v0.9.0
              with:
                ssh-private-key: ${{env.SSH_PRIVATE_KEY}}             #configura a chave ssh
            - name: Checkout no repositorio
              uses: actions/checkout@v4                    #"clona" o repositorio
              with:
                repository: ana-bia07/hello-manifests       #qual repositorio clonar 
                ssh-key: ${{env.SSH_PRIVATE_KEY}}           #utiliza a cha pra acessar
            - name: Atualiza Repo
              run: |
                cd k8s 
                sed -i "s|image: .*$|image: ${{ env.DOCKER_USERNAME }}/main-python:${{ env.TAG }}|" main-python.yaml
                git config user.name github-actions[bot]
                git config user.email 41898282+github-actions[bot]@users.noreply.github.com
                git add main-python.yaml
                git commit -m "chore(gitops): atualiza imagem para mais recente"
                git push