name: Post e Update do Projeto

on:
    push:
        branches:
            - main
    workflow_dispatch:

env: 
    DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
    DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
    TAG: ${{github.sha}}

jobs:
    atualiza-dockerhub:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: .
        steps:
            - name: Checkout do repositorio
              uses: actions/checkout@v3
            - name: Login
              uses: docker/login-action@v3
              with:
                username: ${{ env.DOCKER_USERNAME }}
                password: ${{ env.DOCKER_PASSWORD }} 
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
            - name: Build e Push para DockerHub
              uses: docker/build-push-action@v6
              with:
                push: true
                tags: ${{env.DOCKER_USERNAME}}/main-python:${{env.TAG}}
    atualiza-manifest:
        runs-on: ubuntu-latest
        needs: atualiza-dockerhub
        env:
          SSH_PRIVATE_KEY: ${{secrets.SSH_PRIVATE_KEY}}
        steps:
            - name: Configurar SSH Agent
              uses: webfactory/ssh-agent@v0.9.0
              with:
                ssh-private-key: ${{env.SSH_PRIVATE_KEY}}
            - name: Checkout no repositorio
              uses: actions/checkout@v4
              with:
                repository: ana-bia07/hello-manifests
            - name: Atualiza Repo
              run: |
                cd k8s 
                sed -i "s|image: .*$|image: ${{ env.DOCKER_USERNAME }}/main-python:${{ env.TAG }}|" main-python.yaml
                git config user.name github-actions[bot]
                git config user.email 41898282+github-actions[bot]@users.noreply.github.com
                git add main-python.yaml
                git commit -m "chore(gitops): atualiza imagem para mais recente"
                git push