name: Post e Update do Projeto

on:
    push:
        branches:
            - main
    workflow_dispatch:

env: 
    DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
    DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
    SSH_PRIVATE_KEY: ${{secrets.SSH_PRIVATE_KEY}}

jobs:
    atualiza-dockerHub:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: /projeto
        steps:
            - name: Checkout do repositorio
              uses: actions/checkout@v3
            - name: Login
              uses: docker/login-action@v3
              with:
                username: ${{ env.DOCKER_USERNAME }}
                password: ${{ env.DOCKER_PASSWORD }} 
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
            - name: Build e Push para DockerHub
              uses: docker/build-push-action@v6
              with:
                push: true
                tags: ${{env.DOCKER_USERNAME}}/main-python:${{github.sha}}   