name: Post e Update do Projeto

on:
    push:
        branches:
            - main
    workflow_dispatch:

env: 
    DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
    DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
    SSH_PRIVATE_KEY: ${{secrets.SSH_PRIVATE_KEY}}

jobs:
    atualiza-dockerHub:
        runs-on: ubuntu-latest
        steps:
            - name: Login
              run: docker build -t hello-word .

            - name: Criar Imagem
              run:  echo "${{env.DOCKER_PASSWORD}} | docker login -u ${{env.DOCKER_USERNAME}} --password-stdin"
            - name: Nomeando Imagem
              run:  docker tag hello-word ${{env.DOCKER_USERNAME}}/main-python:vbetter
            - name: Push para DockerHub    
              run: push ${{env.DOCKER_USERNAME}}/main-python:vbetter
